
/*-----絞り込み-----*/

.top_select{
    display: flex;
    align-items: center;
}

.top_select select{
    margin-top: -15px;
}

/*-----議事録リスト-----*/
.report{
    color:black;
    padding-top: 4px;
    padding-bottom: 7px;
}
.report:hover{
    background-color: #e7e7e7;
}

a:hover{
    text-decoration: none;
}

.genre{
    margin-top: -10px;
}

.date{
    margin-top: -70px;
    text-align: right;
}

/*-----スマホの場合-----*/
@media screen and (max-width: 640px) {
    .top_add{
        text-align: right;
    }

    .top_select{
        font-size: 0.8em;
    }

}
   